.site-title {
  color: #4361EE;
}

.site-description {
  text-align: justify !important;
  max-width: 600px; 
}

---
---
@import "{{ site.theme }}";
@import url('https://rsms.me/inter/inter.css');



body {
  // Dark background and 'Inter' font
  background-color: #D9D9D9; 
  font-family: 'Inter', sans-serif;
  color: #284b63;
}

// Header color
h1, h2, h3 {
  color: #FF9F1C; 
}

a {
  color: #778DA9;
}
a:visited {
  color: #415A77;
}
