---
---
@import "{{ site.theme }}";
@import url('https://rsms.me/inter/inter.css');
@import url('https://googleapis.com');

/* Override the Cayman gradient header */
.page-header {
  /* Use a solid color instead of a gradient */
  background-image: none !important;
  background-color: #64748B !important; 
  color: #0F172A !important;
}

body {
  background-color: #F4F4F4; 
  font-family: 'Inter', sans-serif;
  color: #0F172A;
}

.page-header h1 {
  color: #0F172A !important;
  font-family: 'Space Grotesk', sans-serif !important;
  font-weight: bold !important;
}

.page-header h2 {
  text-align: center !important;
  max-width: 800px !important; 
  color: #0F172A !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

// Header color
h1, h2, h3 {
  color: #4A90E2 !important; 
}

a {
  color: #64748B;
}
a:visited {
  color: #415A77;
}

.main-content p {
  text-align: justify;
}
